@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Our Partner";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/UserPartner.css" asp-append-version="true" />
<div class="slideInf" style="background-image: url('~/image/lamvie.jpeg')">
    <h1 style="font-size: 35px; margin-bottom: 10px;">Our Partners</h1>
    <span>Home/Our Partners</span>
</div>
<div class="main2">
    <p>
        We are proud of our network of trusted partners, organizations that have been working closely with NGO.vn to
        carry out our mission of supporting the community and bringing hope to people in difficult circumstances.
        This partnership not only helps us implement effective projects but also enhances our positive impact on
        society.
    </p>
    <div class="list-partners">
        <ul>
            @foreach (var partner in ViewBag.Partner)
            {
                <a asp-action="OurPartnerDetail" asp-route-id="@partner.id">
               <li>
                    <img src="~/imagePartners/@partner.logo" alt="" style="width: auto; height: 80px; min-width: 80px; max-width: 170px">
                   <p>@partner.name</p>
               </li>
               </a>
            }
        </ul>
    </div>
</div>

