@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Our mission";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/UserAboutUs2.css" asp-append-version="true" />
<div class="slideInf">
    <h1 style="font-size: 35px; margin-bottom: 10px;">Project</h1>
    <span>Home/About Us/</span> <span>Our mission</span>
</div>
<!--  -->
<div class="main2">
    <div class="aboutUs-menu">
        <div class="list-menu">
            <ul class="menus">
                <li class="menu-item"><a asp-controller="AboutUs" asp-action="AboutUs1">What we do?</a></li>
                <li class="menu-item"><a asp-controller="AboutUs" asp-action="AboutUs2">Our mission</a></li>
                <li class="menu-item"><a asp-controller="AboutUs" asp-action="AboutUs3">Our team</a></li>
                <li class="menu-item"><a asp-controller="AboutUs" asp-action="AboutUs4">Career with us</a></li>
                <li class="menu-item"><a asp-controller="AboutUs" asp-action="AboutUs5">Our achievements</a></li>
                <li class="menu-item"><a asp-controller="AboutUs" asp-action="AboutUs6">Our supporters</a></li>
                <li class="menu-item"><a asp-controller="AboutUs" asp-action="AboutUs7">Read About Us</a></li>
            </ul>
        </div>
    </div>

    <div class="aboutUs-content">
        <h1>Our mission</h1>
        <div class="content">
            <h5>@ViewBag.AboutUs[0].title</h5>
            <div class="content-1">
                <div class="content-text">
                    <p>
                        @ViewBag.AboutUs[0].content
                    </p>
                </div>
                <img src="~/imageAboutUs/@ViewBag.AboutUsImage[0].image" alt="">
            </div>

            <h5>My chalenger</h5>
            <div class="content-2">
                <img src="~/imageAboutUs/@ViewBag.AboutUsImage[1].image" alt="">
                <ul>
                    @for(int i = 1; i<ViewBag.AboutUs.Count; i++)
                    {
                        <li class="list-content-parent">@ViewBag.AboutUs[i].title</li>
                        <ul>
                            <li class="list-content-child" style="list-style: inside;">
                                @ViewBag.AboutUs[i].content;
                            </li>
                        </ul>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
