<div class="mainHead">
    <div class="tilteLeft">
        <h1>Project</h1>
        <p style="color: gray; padding-left: 5px;">Version 2.0</p>
    </div>
    <div class="tilteRight">
        <span>Home ></span>
        <span style="padding-left: 4px;">Project</span>
    </div>
</div>
<div class="mainContent">
    <div class="add">
        <button>Add</button>
    </div>
    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Cause</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Art Projects for Kids</td>
                    <td>Children</td>
                    <td>
                        <span class="status-label still-working">Still Working</span>
                    </td>
                    <td>
                        <button class="actionBtn editBtn"><i class="fas fa-edit"></i>Edit</button>
                        <button class="actionBtn deleteBtn"><i class="fas fa-trash-alt"></i>Delete</button>
                        <button class="actionBtn viewBtn"><i class="fas fa-eye"></i>View</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Community Health Outreach</td>
                    <td>Healthcare</td>
                    <td>
                        <span class="status-label finished">Finished</span>
                    </td>
                    <td>
                        <button class="actionBtn editBtn"><i class="fas fa-edit"></i>Edit</button>
                        <button class="actionBtn deleteBtn"><i class="fas fa-trash-alt"></i>Delete</button>
                        <button class="actionBtn viewBtn"><i class="fas fa-eye"></i>View</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Education for All</td>
                    <td>Education</td>
                    <td>
                        <span class="status-label upcoming">Upcoming</span>
                    </td>
                    <td>
                        <button class="actionBtn editBtn"><i class="fas fa-edit"></i>Edit</button>
                        <button class="actionBtn deleteBtn"><i class="fas fa-trash-alt"></i>Delete</button>
                        <button class="actionBtn viewBtn"><i class="fas fa-eye"></i>View</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Cause</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



