@model eProject3.Models.Entities.AboutUs

<link rel="stylesheet" href="~/css/AboutUs7.css">
<style>
    .alert {
        padding: 15px;
        margin: 20px 0;
        border-radius: 5px;
        font-size: 16px;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }
</style>
<div class="mainHead">
    <div class="tilteLeft">
        <h1>READ ABOUT US</h1>
        <p style="color: gray; padding-left: 5px;">Version 2.0</p>
    </div>
    <div class="tilteRight">
        <span>Home ></span>
        <span style="padding-left: 4px;">Read About Us</span>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="mainBody">
    <h1>Read About Us</h1>
    <div class="content">
        @foreach (var child in Model.AboutUsChilds)
        {
            <li class="list-content-parent">@child.title</li>
            <p class="content-text">
                @child.content
            </p>
        }
        

        
    </div>
</div>

<div class="btn">
    <a asp-action="EditAboutUs" asp-route-id="@Model.id" asp-route-sourcePage="AboutUs7" class="actionBtn editBtn" style="text-decoration:none">
        <i class="fas fa-edit"></i>Edit
    </a>
</div>