@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<div class="mainHead">
    <div class="tilteLeft">
        <h1>DASHBOARD</h1>
        <p style="color: gray; padding-left: 5px;">Version 2.0</p>
    </div>
    <div class="tilteRight">
        <span>Home ></span>
        <span style="padding-left: 4px;">Dashboard</span>
    </div>
</div>
<div class="mainBody">
    <div class="card">
        <i class="fas fa-globe"></i>
        <div class="card-content">
            <h2>NGO Website</h2>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-user"></i>
        <div class="card-content">
            <p>Number of subscribers</p>
            <h2 class="text-center">13.000</h2>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-folder"></i>
        <div class="card-content">
            <p>Number of projects</p>
            <h2 class="text-center">50</h2>
        </div>
    </div>
    <div class="card">
        <i class="fas fa-wallet"></i>
        <div class="card-content">
            <p>Donate</p>
            <h2 class="text-center">1.83 Ti USD</h2>
        </div>
    </div>
</div>
