@using eProject3.Models.Entities
@model Cause

<link rel="stylesheet" href="~/css/EditCategory.css">

<div class="mainHead">
    <div class="tilteLeft">
        <h1>Edit Category</h1>
        <p style="color: gray; padding-left: 5px">Version 2.0</p>
    </div>
    <div class="tilteRight">
        <span>Home ></span>
        <span style="padding-left: 4px">Edit Category</span>
    </div>
</div>
<div class="mainBody">
    <div class="form-add-cate">
        <form asp-action="EditCategory" method="post">
            <input type="hidden" asp-for="id" />
            <label asp-for="name">Category Name</label>
            <input asp-for="name" class="inputAddCate" type="text" placeholder="Category Name..." />
            <span asp-validation-for="name" style="color: red"></span>
            <input class="btnAddCate" type="submit" value="Update" />
            <a asp-action="Categories" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>