<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eProject3</title>
    <link rel="stylesheet" href="~/css/AdminLayOut.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eProject3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo-detail">
            <i class="fa-solid fa-user-tie"></i>
            <span class="logo_name">ADMIN</span>
        </div>
        <div class="inputSearch">
            <input type="text" placeholder="Search...">
            <button class="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p>MAIN NAVIGATION</p>
        <ul class="nav-links">
            <li>
                <a href="./homeAdmin.html">
                    <i class="fa-solid fa-money-check-dollar"></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="./homeAdmin.html">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <a href="./cause.html">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Cause</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="./cause.html">Cause</a></li>
                </ul>
            </li>
            <li>
                <a href="./donation.html">
                    <i class='bx bx-money'></i>
                    <span class="link_name">Donation statistics</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="./donation.html">Donation statistics</a></li>
                </ul>
            </li>
            <li>
                <a href="./project.html">
                    <i class="fa-regular fa-folder"></i>
                    <span class="link_name">Project</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="./project.html">Project</a></li>
                </ul>
            </li>
            <li>
                <a href="./userInf.html">
                    <i class='bx bx-user'></i>
                    <span class="link_name">User</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="./userInf.html">User</a></li>
                </ul>
            </li>
            <li>
                <a href="./partner.html">
                    <i class='bx bx-group'></i>
                    <span class="link_name">Partners</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="./partner.html">Partners</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-phone'></i>
                        <span class="link_name">Contact Us</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Contact Us</a></li>
                    <li><a href="../view/contactUs_Inf.html">Contact Us Information</a></li>
                    <li><a href="../view/contactUs.html">Contact Us</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="">
                        <i class="fa-solid fa-circle-info"></i>
                        <span class="link_name">About Us</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">About Us</a></li>
                    <li><a href="#">What we đo ?</a></li>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Career With Us</a></li>
                    <li><a href="#">Our Achievements</a></li>
                    <li><a href="#">Our Suporters</a></li>
                    <li><a href="#">Read About Us</a></li>
                </ul>
            </li>
            <li>
                <a href="./helpCenter.html">
                    <i class='bx bx-help-circle'></i>
                    <span class="link_name">Help Center</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="./helpCenter.html">Help Center</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="~/image/Screenshot 2024-07-02 092340.png" alt="">
                    </div>
                    <div class="name-job">
                        <span class="profile_name">Admin</span>
                        <span class="status">Online</span>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <div class="nontifycation">
                <button type="button" class="icon-button">
                    <i class="fa-regular fa-envelope"></i>
                    <span class="icon-button__badge">2</span>
                </button>
                <button class="icon-button">
                    <i class="fa-regular fa-bell"></i>
                </button>
                <button class="icon-button">
                    <i class="fa-regular fa-flag"></i>
                    <span class="icon-button__badge">10</span>
                </button>
            </div>
        </div>
        <!-- Body -->
        <div class="main">
            @RenderBody()
        </div>
    </section>
    <script src="~/js/AdminLayOut.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
